<div class="container">
  <h1>Contact</h1>
  <ul class="social-media">
    <li>
      <a target="_blank" href="https://www.facebook.com/ankhanh.itse/"
        ><i class="fa-brands fa-facebook"></i
      ></a>
    </li>
    <li>
      <a target="_blank" href="https://github.com/KhanhItSe2"
        ><i class="fa-brands fa-github"></i
      ></a>
    </li>
    <li>
      <a
        target="_blank"
        href="https://www.linkedin.com/in/khanh-nguyen-63328b204/"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </li>
  </ul>

  <ul class="contact-info">
    <li>Mobile: 0973313615</li>
    <li>khanhnguyenitse@gmail.com</li>
  </ul>
</div>
